<div class="container-fluid slice bg-color" id="first">
  <div class="container bg-cover">
    <div class="row">

      <div class="col-lg d-flex justify-content-center">
        <div class="align-self-center">
          <span class="font-race text-primary title">BCA</span>
          <span class="font-champagne subtitle">IT Career</span>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid slice bg-color " id="first">
  <div class="container align-self-center">
    <div class="row">
        <div class="col-lg d-flex carousel slide" id="carouselJob" data-ride="carousel">
          {{!-- indicator --}}
          <div class="carousel-indicators">
            <div class="active" data-target="#carouselJob" data-slide-to="0"></div>
            <div data-target="#carouselJob" data-slide-to="1"></div>
            <div data-target="#carouselJob" data-slide-to="2"></div>
          </div>

          {{!-- the slideshow --}}
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="col-lg d-flex">
                <div class="align-self-center">
                  <img src="/assets/images/1 BIT.png" alt="Fresh Graduate" width="100%">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="carimg" src="/assets/images/2 INTERNSHIP.png" alt="Fresh Graduate">
            </div>
            <div class="carousel-item">
              <img class="carimg" src="/assets/images/3 PPTI.png" alt="Fresh Graduate">
            </div>
          </div>

          <div class="col-lg d-flex">
            <div class="align-self-center">
            <span class="font-race text-primary title">01</span>
            <span class="font-champagne subtitle">Fresh Graduates</span>

            <button class="btn btn-primary" {{action 'scrollUp'}}>Prev</button>
            <button class="btn btn-primary" {{action 'scrollDown'}}>Next</button>
            </div>
          </div>

          {{!-- left and right control --}}
           <a class="carousel-control-prev" href="#carouselJob" data-slide="prev">
             <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#carouselJob" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      {{!-- <div class="col-lg d-flex">
        <div class="align-self-center">
          <img src="/assets/images/1 BIT.png" alt="Fresh Graduate" width="100%">
        </div>
      </div>

       <div class="col-lg d-flex">
        <div class="align-self-center">
          <span class="font-race text-primary title">01</span>
          <span class="font-champagne subtitle">Fresh Graduates</span>

          <button class="btn btn-primary" {{action 'scrollUp'}}>Prev</button>
          <button class="btn btn-primary" {{action 'scrollDown'}}>Next</button>
        </div>
      </div> --}}

    </div>
  </div>
</div>

<div class="container-fluid slice bg-dark" id="[''">
  <div class="container align-self-center">
    <div class="row">

      <div class="col-lg d-flex">
        <div class="align-self-center">
          <img src="/assets/images/1 BIT.png" alt="Fresh Graduate" width="100%">
        </div>
      </div>

      <div class="col-lg d-flex">
        <div class="align-self-center">
          <span class="font-race text-primary title">01</span>
          <span class="font-champagne subtitle">Fresh Graduates</span>

          <button class="btn btn-primary" {{action 'scrollUp'}}>Prev</button>
          <button class="btn btn-primary" {{action 'scrollDown'}}>Next</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid slice" id="third">
  <div class="container align-self-center">
    <div class="row">

      <div class="col-lg d-flex">
        <div class="align-self-center">
          <span class="font-race text-primary title">02</span>
          <span class="font-champagne subtitle">Internship</span>

          <button class="btn btn-primary" {{action 'scrollUp'}}>Prev</button>
          <button class="btn btn-primary" {{action 'scrollDown'}}>Next</button>
        </div>
      </div>

      <div class="col-lg d-flex">
        <div class="align-self-center">
          <img src="/assets/images/2 INTERNSHIP.png" alt="Internship" width="100%">
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid slice bg-dark" id="second">
  <div class="container align-self-center">
    <div class="row">

      <div class="col-lg d-flex">
        <div class="align-self-center">
          <img src="/assets/images/3 PPTI.png" alt="Fresh Graduate" width="100%">
        </div>
      </div>

      <div class="col-lg d-flex">
        <div class="align-self-center">
          <span class="font-race text-primary title">03</span>
          <span class="font-champagne subtitle">High School</span>

          <button class="btn btn-primary" {{action 'scrollUp'}}>Prev</button>
          <button class="btn btn-primary" {{action 'scrollDown'}}>Next</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid slice" id="third">
  <div class="container align-self-center">
    <div class="row">

      <div class="col-lg d-flex">
        <div class="align-self-center">
          <span class="font-race text-primary title">04</span>
          <span class="font-champagne subtitle">Professional</span>

          <button class="btn btn-primary" {{action 'scrollUp'}}>Prev</button>
          <button class="btn btn-primary" {{action 'scrollDown'}}>Next</button>
        </div>
      </div>

      <div class="col-lg d-flex">
        <div class="align-self-center">
          <img src="/assets/images/4 PROFESSIONAL.png" alt="Internship" width="100%">
        </div>
      </div>

    </div>
  </div>
</div>

{{script/run-script (action 'resize')}}
